<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/header.css" />
    <link rel="stylesheet" href="styles/crearCliente.css" />
    <title>Capital Wise</title>
  </head>
  <body>
    <%- include('header.ejs') %>
    <main>
      <h1 class="title">Crear una nueva factura</h1>
      <form
        class="new-client"
        method="POST"
        action="/crearFactura"
        autocomplete="off"
      >
        <input
          class="new-client__input"
          type="date"
          name="fecha"
          id="fecha"
        />
        <input
          class="new-client__input"
          type="number"
          name="total"
          id="total"
          placeholder="Total facturado"
        />
        <!-- <input
          class="new-client__input"
          type="number"
          name="supplier_rnc"
          id="supplier_rnc"
          required
          placeholder="RNC del proveedor"
        /> -->
        <select name="cliente_rnc" class="select" required>
          <option value="" class="default-option">Cliente</option>
          <% clientes.forEach(cliente => { %>
          <option value="<%= cliente.rnc %>">
            <%= cliente.client_name %>
            <% }) %>
          </option>
        </select>
        <div class="new-client__buttons">
          <input
            class="new-client__button"
            type="submit"
            name="action"
            value="Agregar"
          />
          <input
            class="new-client__button"
            type="submit"
            name="action"
            value="Guardar y continuar"
          />
        </div>
      </form>
    </main>

    <script src="./javascript/main.js"></script>
  </body>
</html>
