<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/header.css" />
    <link rel="stylesheet" href="styles/crearCliente.css" />
    <title>Capital Wise</title>
  </head>
  <body>
    <%- include('header.ejs') %>
    <main>
      <h1 class="title">Agrega un nuevo Producto</h1>
      <form
        class="new-client"
        method="POST"
        action="/crearProductos"
        autocomplete="off"
      >
        <input
          class="new-client__input"
          type="text"
          name="product_name"
          id="product_name"
          required
          placeholder="Nombre Producto"
        />
        <input
          class="new-client__input"
          type="text"
          name="product_description"
          id="product_description"
          required
          placeholder="Descripcion Producto"
        />
        <input
          class="new-client__input"
          type="number"
          name="cost"
          id="cost"
          placeholder="costo"
        />
        <input
          class="new-client__input"
          type="number"
          name="price"
          id="price"
          required
          placeholder="precio"
        />
        <input
          class="new-client__input"
          type="number"
          name="supplier_rnc"
          id="supplier_rnc"
          required
          placeholder="RNC del proveedor"
        />
        <select name="" id="">
          <option value="">Elegir</option>
          <% suppliers.forEach(supplier => { %>
          <option value="<%= supplier.rnc %>">
            <%= supplier.supplier_name %>
          </option>
          <% console.log(supplier.rnc, supplier.supplier_name) %> <% }) %>
        </select>
        <div class="new-client__buttons">
          <input
            class="new-client__button"
            type="submit"
            name="action"
            value="Agregar"
          />
          <input
            class="new-client__button"
            type="submit"
            name="action"
            value="Guardar y agregar otro"
          />
        </div>
      </form>
    </main>

    <script src="./javascript/main.js"></script>
  </body>
</html>
