<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/header.css" />
    <link rel="stylesheet" href="styles/crearCliente.css" />
    <title>Capital Wise</title>
  </head>
  <body>
    <%- include('header.ejs') %>
    <main>
      <h1 class="title">Agrega un nuevo cliente</h1>
      <form
        class="new-client"
        method="POST"
        action="/crearClientes"
        autocomplete="off"
      >
        <input
          class="new-client__input"
          type="text"
          name="rnc"
          id="rnc"
          required
          placeholder="RNC"
        />
        <input
          class="new-client__input"
          type="text"
          name="razon_social"
          id="razonSocial"
          required
          placeholder="Razon Social"
        />
        <input
          class="new-client__input"
          type="text"
          name="client_name"
          id="nombre"
          required
          placeholder="Nombre"
        />
        <input
          class="new-client__input"
          type="text"
          name="email"
          id="correo"
          required
          placeholder="Correo"
        />
        <input
          class="new-client__input"
          type="text"
          name="client_phone"
          id="telefono"
          required
          placeholder="Telefono"
        />

        <input
          class="new-client__input"
          type="text"
          name="client_address"
          id="direccion"
          placeholder="Dirección"
        />
        <div class="new-client__buttons">
          <input
            class="new-client__button"
            type="submit"
            name="action"
            value="Agregar"
          />
          <input
            class="new-client__button"
            type="submit"
            name="action"
            value="Guardar y agregar otro"
          />
        </div>
      </form>
    </main>

    <script src="./javascript/main.js"></script>
  </body>
</html>
