<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/header.css" />
    <link rel="stylesheet" href="styles/crearCliente.css" />
    <title>Capital Wise</title>
  </head>
  <body>
    <%- include('header.ejs') %>
    <main>
      <h1 class="title">Agrega un nuevo Producto</h1>
      <form
        class="new-client"
        method="POST"
        action="/crearProductos"
        autocomplete="off"
      >
      <% if (error) %>
      <p class="error"><%= error %></p>
      <input
          class="new-client__input"
          type="text"
          name="product_name"
          id="product_name"
          required
          placeholder="Nombre"
        />
        <input
          class="new-client__input"
          type="text"
          name="product_description"
          id="product_description"
          required
          placeholder="Descripción"
        />
        <input
          class="new-client__input"
          type="number"
          name="cost"
          id="cost"
          placeholder="Costo"
        />
        <input
          class="new-client__input"
          type="number"
          name="price"
          id="price"
          required
          placeholder="Precio"
        />
        <!-- <input
          class="new-client__input"
          type="number"
          name="supplier_rnc"
          id="supplier_rnc"
          required
          placeholder="RNC del proveedor"
        /> -->
        <select name="supplier_rnc" class="select" required>
          <option value="" class="default-option">Proveedor</option>
          <% suppliers.forEach(supplier => { %>
          <option value="<%= supplier.rnc %>">
            <%= supplier.supplier_name %>
            <% }) %>
          </option>
        </select>
        <div class="new-client__buttons">
          <input
            class="new-client__button"
            type="submit"
            name="action"
            value="Agregar"
          />
          <input
            class="new-client__button"
            type="submit"
            name="action"
            value="Guardar y continuar"
          />
        </div>
      </form>
    </main>

    <script src="./javascript/main.js"></script>
  </body>
</html>
