<nav class="nav-bar">
  <a href="./visualizar"><img class="nav-bar__logo" src="media/logo.png" alt="databook logo" /></a>
  <ul class="nav-bar__menu">
    <li class="nav-bar__menu-item">Facturas
      <img src="media/bottom.svg" alt="Flecha de drop-down">

      <ul class="nav-bar__submenu">
        <li class="nav-bar__submenu-item"><a href="./ingresos">Ingresos</a></li>
        <li class="nav-bar__submenu-item"><a href="./gastos">Gastos</a></li>
      </ul>
    </li>
    <li class="nav-bar__menu-item">Creditos
      <img src="media/bottom.svg" alt="Flecha de drop-down">

      <ul class="nav-bar__submenu">
        <li class="nav-bar__submenu-item"><a href="./propios">Propios</a></li>
        <li class="nav-bar__submenu-item"><a href="./externos">Externos</a></li>
      </ul>
      <li class="nav-bar__menu-item">
        <a href="./notificaciones">Notificaciones
      </a>
      
  </ul>
</nav>