<nav class="nav-bar">
  <a href="./index"><img class="nav-bar__logo" src="media/logoFeo.png" alt="Wise investors logo" /></a>
  <h1 class="wallet-name"><a href="./index">Wallet</a></h1>
  <ul class="nav-bar__menu">
    <li class="nav-bar__menu-item">Facturas
      <img src="media/bottom.svg" alt="Flecha de drop-down">

      <ul class="nav-bar__submenu">
        <li class="nav-bar__submenu-item"><a href="./ingresos">Ingresos</a></li>
        <li class="nav-bar__submenu-item"><a href="./productos">Gastos</a></li>
      </ul>
    </li>
    <li class="nav-bar__menu-item">Creditos
      <img src="media/bottom.svg" alt="Flecha de drop-down">

      <ul class="nav-bar__submenu">
        <li class="nav-bar__submenu-item"><a href="./carteras">Propios</a></li>
        <li class="nav-bar__submenu-item"><a href="./carteras">Externos</a></li>
      </ul>
    </li>
    <li class="nav-bar__menu-item"><a href="./clientes">Visualizar</a>
      
    </li>
    <li class="nav-bar__menu-item"><a href="./carteras"></a>Notificaciones</a>
      
  </ul>
</nav>