<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="styles/style.css" />
  <link rel="stylesheet" href="styles/header.css" />
  <link rel="stylesheet" href="styles/ingresos.css" />
  <title>Capital Wise</title>
</head>

<body>
  <%- include('header.ejs') %>
    <main>
      <h1 class="title">Agrega un nuevo Gasto</h1>
      <form class="new-client" method="POST" action="/crearProductos" autocomplete="off">
        <% if (error) %>
          <p class="error">
            <%= error %>
          </p>
          <select name="supplier_rnc" class="select" required onchange="checkForCustomTag(this);">
            <option value="" class="default-option">Etiqueta</option>
            <% suppliers.forEach(supplier=> { %>
              <option value="<%= supplier.rnc %>">
                <%= supplier.supplier_name %>
              </option>
              <% }) %>
                <option value="custom">Agregar nueva etiqueta...</option>
          </select>
          <div class="newtag-input-container">
          <input type="text" id="custom-tag" style="display:none;" onblur="addCustomTag(this);"
            placeholder="Escribe tu etiqueta">
            <button type="button" id="save-continue-btn" style="display:none;">Guardar y continuar</button>
          </div>

          <input class="new-client__input" type="text" name="product_description" id="product_description" required
            placeholder="Descripción" />
          <input class="new-client__input" type="number" name="cost" id="cost" placeholder="Debito" />
          <input class="new-client__input" type="text" name="product_name" id="product_name" required
            placeholder="Medio de Pago" />
          <input class="new-client__input" type="date" name="fecha" id="fecha" />
          <div class="new-client__buttons">
            <input class="new-client__button" type="submit" name="action" value="Agregar" />
            <input class="new-client__button" type="submit" name="action" value="Guardar y continuar" />
          </div>
      </form>
    </main>

    <script src="./javascript/main.js"></script>
</body>

</html>