<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/login-register.css">
  <title>Capital Wise</title>
</head>
<body>
  <h1 class="title">Registrate</h1>
  <main class="container">
      <form class="register" action="/register" method="POST" autocomplete="off">
        <% if (error) %>
          <p class="error"><%= error %></p>
        <div class="register__input-container input-container">
          <input class="register__input input" type="text" placeholder=" " name="username" id="name" required/>  
          <label for="name" class="register__label label">Nombre:</label>
        </div>
        <div class="register__input-container input-container">
          <input class="register__input input" type="text" placeholder=" " name="lastname" id="lastname" required/>  
          <label for="lastname" class="register__label label">Apellido:</label>
        </div>
        <div class="register__input-container input-container">
          <input class="register__input input" type="email" placeholder=" " name="email" id="email" required/>  
          <label for="email" class="register__label label">Correo electrónico:</label>
        </div>
        <div class="register__input-container input-container">
          <input class="register__input input" type="tel" placeholder=" " name="phone" id="phonenumber"/>  
          <label for="phonenumber" class="register__label label">Número telefónico</label>
        </div>
        <div class="register__input-container input-container">
          <input class="register__input input" type="password" placeholder=" " name="user_pass" id="password" required/>
          <label for="password" class="register__label label">Contraseña:</label>
        </div>
        <input class="register__button button" type="submit" value="Registrarse!">
        <p>Ya estas registrado? pues <a class="link" href="./login">inicia sesión.</a>
        </p>
      </form>
  </main>
</body>
</html>