<div class="resumen">
    <div class="resumen__container">
      <div class="resumen__container__item">
        <h1 class="resumen__container__item__title">Estado financiero</h1>
        <p class="resumen__container__item__number" id="balance"><%= balance.balance %>$</p>
      </div>
      <div class="resumen__container__item">
        <h1 class="resumen__container__item__title">Deuda total</h1>
        <p class="resumen__container__item__number" id="ingresos"><%= balance.deudatotal %>$</p>
    </div>
    
      <div class="resumen__container__item">
        <h1 class="resumen__container__item__title">Ingresos pendientes</h1>
        <p class="resumen__container__item__number" id="gastos"><%= balance.ingresospendientes %>$</p>
      </div>
    </div>
  </div>