@charset "UTF-8";
.clients-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-inline: 3vw;
  padding-top: 20px;
}
.clients-container .create-client {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.clients-container .create-client .clients-container__title {
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: 600;
  color: var(--primaryColor);
}
.clients-container .create-client .create-client__button {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--primaryColor);
  color: var(--bgColor);
  font-size: var(--medium-font);
  font-weight: var(--demi-bold);
  cursor: pointer;
  transition: background-color 0.3s;
}
.clients-container .create-client .create-client__button:hover {
  background-color: var(--accentColor);
}
.clients-container ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.clients-container ul li {
  margin-bottom: 20px;
  background: #f2f2f2;
  padding: 10px;
  border-radius: 8px;
  width: 500px;
}
.clients-container ul li canvas {
  width: 100% !important;
  height: auto !important;
}
.clients-container ul #chart1 {
  width: 300px;
}

.resumen1 {
  width: 100%;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border-radius: 8px;
  font-family: "Arial", sans-serif;
}

.resumen__container1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.resumen__container1 .resumen__container__item {
  flex-basis: calc(33.333% - 20px);
  height: 140px;
  margin: 15px;
  background: #388d79;
  border-radius: 4px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: flex-basis 0.3s ease, margin 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  flex-grow: 0;
  flex-shrink: 0;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.resumen__container1 .resumen__container__item:hover {
  flex-basis: 40%;
  margin: 0;
  box-shadow: 0 10px 30px #388d79;
  transform: translateY(-3px);
}
.resumen__container1 .resumen__container__item.active {
  flex-basis: 100%;
  margin: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 2;
}
.resumen__container1 .resumen__container__item.active .form-container {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  background: white;
  border-radius: 4px;
}
.resumen__container1 .resumen__container__item #balance {
  color: #ff2727;
}
.resumen__container1 .resumen__container__item .resumen__container__item_header {
  gap: 8vw;
  display: flex;
  align-items: center;
}
.resumen__container1 .resumen__container__item .resumen__container__item_header .resumen__container__item__title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #c7c7c7;
}
.resumen__container1 .resumen__container__item .resumen__container__item_header p {
  font-size: 25px;
  font-weight: bold;
  color: #23584c;
  margin-bottom: 9px;
}
.resumen__container1 .resumen__container__item .resumen__container__item__number {
  font-size: 40px;
  color: #e2e2e2;
}
.resumen__container1 .resumen__container__item--expanded {
  flex-basis: 100%;
  margin: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: height 0.3s ease, flex-basis 0.3s ease, margin 0.3s ease, box-shadow 0.3s ease;
  height: 500px;
  overflow: hidden;
}
.resumen__container1 .resumen__container__item--expanded .resumen__container__item__content {
  display: block;
}
.resumen__container1 .resumen__container__item:not(:hover) {
  flex-basis: calc((60% - 60px) / 2);
  margin: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.new-client {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  width: 100%;
  padding: 40px 50px;
  border-radius: 10px;
}
.new-client .new-client__input {
  resize: none;
  width: 100%;
  padding: 10px 20px;
  display: block;
  border: 1px solid var(--dark-gray);
  box-shadow: 2px 2px 1px var(--dark-gray);
  -webkit-appearance: none;
  /* WebKit/Blink browsers */
  -moz-appearance: none;
  /* Gecko browsers */
  appearance: none;
  transition: all 0.1s ease-in-out;
}
.new-client .new-client__input:hover {
  border: 1px solid var(--accentColor);
}
.new-client .new-client__input:focus {
  border: 1px solid var(--accentColor);
  outline: none;
}
.new-client .new-client__input::-webkit-inner-spin-button, .new-client .new-client__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  /* WebKit/Blink browsers */
  margin: 0;
}
.new-client #custom-tag {
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
}
.new-client #custom-tag:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.new-client #custom-tag {
  flex-grow: 1;
  display: none;
}
.new-client #save-continue-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #4CAF50;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.new-client #save-continue-btn:hover {
  background-color: #45a049;
}

.new-client__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.new-client__buttons .new-client__button {
  padding: 10px 20px;
  border: 1px solid var(--accentColor);
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  box-shadow: 1px 1px 1px var(--dark-gray);
  background-color: var(--accentColor);
  color: white;
}
.new-client__buttons .new-client__button:hover {
  background-color: white;
  color: var(--accentColor);
}
.new-client__buttons .new-client__button:first-child {
  background-color: white;
  color: var(--accentColor);
}
.new-client__buttons .new-client__button:first-child:hover {
  color: white;
  background-color: var(--accentColor);
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.popup {
  visibility: hidden; /* Inicialmente oculto */
  opacity: 0;
  position: fixed; /* Posición fija en la pantalla */
  right: 20px; /* 20px desde el borde derecho */
  bottom: 20px; /* 20px desde el borde inferior */
  background-color: #388d79; /* Un verde claro para contraste */
  color: #f0f0f0; /* Un verde oscuro para el texto */
  padding: 15px;
  border: none; /* Sin borde */
  z-index: 1000; /* Asegúrate de que esté sobre otros elementos */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para la profundidad */
  border-radius: 8px; /* Bordes redondeados */
  min-width: 300px;
  min-height: 70px;
  text-align: center; /* Alineación del texto */
  box-sizing: border-box; /* El padding y el borde se incluyen en el ancho y el alto */
  transition: visibility 0s, opacity 0.5s linear; /* Transición suave para la visibilidad y la opacidad */
  animation: slideIn 0.5s ease forwards; /* Animación de entrada */
}

.popup.visible {
  visibility: visible;
  opacity: 1;
}