main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.title {
    margin-bottom: 20px;
}

.new-client {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    width: 60%;
    padding: 40px 50px;
    border: 1px solid var(--accentColor);
    border-radius: 10px;

    .error {
        color: red;
        font-size: 1.2rem;
    }

    .select {
        cursor: pointer;

        &:required:invalid {
            color: gray;
        }

        option {
            color: black;

            &:first-child {
                color: gray;
            }
        }
    }

    .new-client__input,
    .select {
        width: 100%;
        padding: 10px 20px;
        display: block;
        border: 1px solid var(--dark-gray);
        box-shadow: 2px 2px 1px var(--dark-gray);
        -webkit-appearance: none;
        /* WebKit/Blink browsers */
        -moz-appearance: none;
        /* Gecko browsers */
        appearance: none;
        transition: all 0.1s ease-in-out;

        &:hover {
            border: 1px solid var(--accentColor);
        }

        &:focus {
            border: 1px solid var(--accentColor);
            outline: none;
        }

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            /* WebKit/Blink browsers */
            margin: 0;
        }
    }

    #custom-tag {
        padding: 0.5rem 1rem;
        margin-right: 0.5rem; // Añadido margen a la derecha
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        font-size: 1rem;
        line-height: 1.5;

        &:focus {
            outline: none;
            border-color: #80bdff;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
    }

    #custom-tag {
        flex-grow: 1; // Permitir que el input crezca
        display: none;
    }
    #save-continue-btn {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.25rem;
        background-color: #4CAF50; // Color verde del botón
        color: white;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s;
    
        &:hover {
          background-color: #45a049; // Oscurecer el botón al pasar el cursor
        }
      }

    }

    .new-client__buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .new-client__button {
            // width: 40%;
            padding: 10px 20px;
            border: 1px solid var(--accentColor);
            font-weight: bold;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.1s ease-in-out;
            box-shadow: 1px 1px 1px var(--dark-gray);

            background-color: var(--accentColor);
            color: white;

            &:hover {
                background-color: white;
                color: var(--accentColor);
            }

            &:first-child {
                background-color: white;
                color: var(--accentColor);

                &:hover {
                    color: white;
                    background-color: var(--accentColor);
                }
            }
        }
    }

    @keyframes slideIn {
        from {
            transform: translateY(20px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
    
    .popup {
        visibility: hidden; /* Inicialmente oculto */
        opacity: 0;
        position: fixed; /* Posición fija en la pantalla */
        right: 20px; /* 20px desde el borde derecho */
        bottom: 20px; /* 20px desde el borde inferior */
        background-color: #388d79; /* Un verde claro para contraste */
        color: #f0f0f0; /* Un verde oscuro para el texto */
        padding: 15px;
        border: none; /* Sin borde */
        z-index: 1000; /* Asegúrate de que esté sobre otros elementos */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para la profundidad */
        border-radius: 8px; /* Bordes redondeados */
        min-width: 300px;
        min-height: 70px;
        text-align: center; /* Alineación del texto */
        box-sizing: border-box; /* El padding y el borde se incluyen en el ancho y el alto */
        transition: visibility 0s, opacity 0.5s linear; /* Transición suave para la visibilidad y la opacidad */
        animation: slideIn 0.5s ease forwards; /* Animación de entrada */
    }
    
    .popup.visible {
        visibility: visible;
        opacity: 1;
    }
    
    