@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap");

:root {
  --primaryColor: #41a58d;
  --secondColor: #c5fcef;
  --accentColor: #11d6a8;
  --textColor: #141f1c;
  --bgColor: #f4f5fb;
  --dark-gray: #9fa3a6;
  --bold-font: 21px;
  --demi-bold: 16px;
  --medium-font: 14px;
  --regular-font: 12px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.red{
  color: #b52323 !important;
}

.invisible{
  display: none !important;
}

@keyframes slideIn {
  from {
      transform: translateY(20px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

.popup {
  visibility: hidden; /* Inicialmente oculto */
  opacity: 0;
  position: fixed; /* Posición fija en la pantalla */
  right: 20px; /* 20px desde el borde derecho */
  bottom: 20px; /* 20px desde el borde inferior */
  background-color: #388d79; /* Un verde claro para contraste */
  color: #f0f0f0; /* Un verde oscuro para el texto */
  padding: 15px;
  border: none; /* Sin borde */
  z-index: 1000; /* Asegúrate de que esté sobre otros elementos */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para la profundidad */
  border-radius: 8px; /* Bordes redondeados */
  min-width: 300px;
  min-height: 70px;
  text-align: center; /* Alineación del texto */
  box-sizing: border-box; /* El padding y el borde se incluyen en el ancho y el alto */
  transition: visibility 0s, opacity 0.5s linear; /* Transición suave para la visibilidad y la opacidad */
  animation: slideIn 0.5s ease forwards; /* Animación de entrada */
}

.popup.visible {
  visibility: visible;
  opacity: 1;
}

